<div>
    <div class="row">
        <form class="form-inline">
            <div class="form-group">
                <label for="inputSearchCharacter">Search Character</label>
                <input type="text" class="form-control" id="inputSearchCharacter" ng-model="searchName" placeholder="Input Character Name..." />
            </div>
            <button type="submit" class="btn btn-default btn-primary" ng-click="search()"><i class="fa fa-search"></i> Search</button>
        </form>
    </div>
    <div class="row">
        <p>&nbsp;</p>
        <div class="row" ng-repeat="char in characters" ng-init="parentIndex = $index" ng-if="$index % 6 === 0">
            <div class="col-md-2 comic-list" ng-repeat="i2 in [0,1,2,3,4,5]" ng-if="parentIndex + i2 < characters.length">
                <a ng-href="/Characters/{{characters[parentIndex + i2].Id}}" class="thumbnail">
                    <img ng-src="{{characters[parentIndex + i2].ImageUrl}}" />
                    <div class="caption">
                        {{characters[parentIndex + i2].Name}}
                    </div>
                </a>
            </div>
        </div>
        <div class="row" ng-show="total >= offset + limit">
            <div class="cold-md-12">
                <button type="button" ng-click="loadNext()" class="btn btn-primary btn-lg btn-block">Load More..</button>
            </div>
        </div>
    </div>
</div>